footer
	.container
		.footer__wrapper
			.footer__logo
				a(href="#")
					img(src="images/svg/footer-logo.svg" alt="")
			.footer__bottom
				p © CLPLaw.ru 2017 Перепечатка, а равно использование материалов с сайта, разрешена только <br> по согласию с владельцем. Разработка дизайна сайта magiclab.su
				a(href="tel:+74951234567") +7 495 123 45 67