header.header
	.container
		.header__wrapper
			.header__logo
				a(href="#")
					img(src="images/svg/logo.svg" alt="")
			nav
				.header__nav
					ul
						li.active
							a(href="about.html") О нас
						li
							a(href="partners.html") Партнеры
						li
							a(href="practices.html") Практики
						li
							a(href="news.html") Новости
						li
							a(href="contacts.html") Контакты
	.burger
	.mobile-menu
		ul
			li
				a(href="about.html") О нас
			li
				a(href="partners.html") Партнеры
			li
				a(href="practices.html") Практики
			li
				a(href="news.html") Новости
			li
				a(href="contacts.html") Контакты



