.mobile-menu {
	// display: none;
	position: absolute;
	background-color: #c4c4c4;
	width: 100%;
	z-index: 10;
	transform: translateY(-200%);
	transition: 0.3s;
	ul {
		li {
			// box-shadow: 0px 1px 1px rgba(119, 119, 119, 0.25);
			border: 1px solid #cccccc;
			text-align: center;
			line-height: 50px;
			a {
				text-decoration: none;
				font-family: $font-playfair;
				color: #131313;
				font-size: 14px;
				display: block;
			}
		}
	}
	&.active {
		// display: block;
		transform: translateY(0);
		transition: 0.3s;
	}
}
