@font-face {
	font-family: "Calibri";
	src: url("Calibri-LightItalic.eot");
	src: local("Calibri Light Italic"), local("Calibri-LightItalic"),
		url("Calibri-LightItalic.eot?#iefix") format("embedded-opentype"),
		url("Calibri-LightItalic.woff2") format("woff2"), url("Calibri-LightItalic.woff") format("woff"),
		url("Calibri-LightItalic.ttf") format("truetype");
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: "Calibri";
	src: url("Calibri-Italic.eot");
	src: local("Calibri Italic"), local("Calibri-Italic"), url("Calibri-Italic.eot?#iefix") format("embedded-opentype"),
		url("Calibri-Italic.woff2") format("woff2"), url("Calibri-Italic.woff") format("woff"),
		url("Calibri-Italic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Calibri";
	src: url("Calibri-Light.eot");
	src: local("Calibri Light"), local("Calibri-Light"), url("Calibri-Light.eot?#iefix") format("embedded-opentype"),
		url("Calibri-Light.woff2") format("woff2"), url("Calibri-Light.woff") format("woff"),
		url("Calibri-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Calibri";
	src: url("Calibri-Bold.eot");
	src: local("Calibri Bold"), local("Calibri-Bold"), url("Calibri-Bold.eot?#iefix") format("embedded-opentype"),
		url("Calibri-Bold.woff2") format("woff2"), url("Calibri-Bold.woff") format("woff"),
		url("Calibri-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Calibri";
	src: url("Calibri.eot");
	src: local("Calibri"), url("Calibri.eot?#iefix") format("embedded-opentype"), url("Calibri.woff2") format("woff2"),
		url("Calibri.woff") format("woff"), url("Calibri.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Calibri";
	src: url("Calibri-BoldItalic.eot");
	src: local("Calibri Bold Italic"), local("Calibri-BoldItalic"),
		url("Calibri-BoldItalic.eot?#iefix") format("embedded-opentype"),
		url("Calibri-BoldItalic.woff2") format("woff2"), url("Calibri-BoldItalic.woff") format("woff"),
		url("Calibri-BoldItalic.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Playfair Display SC";
	src: local("Playfair Display SC"), local("PlayfairDisplaySC-Regular"),
		url("playfairdisplaysc.woff2") format("woff2"), url("playfairdisplaysc.woff") format("woff"),
		url("playfairdisplaysc.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Playfair Display SC";
	src: local("Playfair Display SC Italic"), local("PlayfairDisplaySC-Italic"),
		url("playfairdisplayscitalic.woff2") format("woff2"), url("playfairdisplayscitalic.woff") format("woff"),
		url("playfairdisplayscitalic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: "Playfair Display SC";
	src: local("Playfair Display SC Bold"), local("PlayfairDisplaySC-Bold"),
		url("playfairdisplayscbold.woff2") format("woff2"), url("playfairdisplayscbold.woff") format("woff"),
		url("playfairdisplayscbold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Playfair Display SC";
	src: local("Playfair Display SC Bold Italic"), local("PlayfairDisplaySC-BoldItalic"),
		url("playfairdisplayscbolditalic.woff2") format("woff2"), url("playfairdisplayscbolditalic.woff") format("woff"),
		url("playfairdisplayscbolditalic.ttf") format("truetype");
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: "Playfair Display SC";
	src: local("Playfair Display SC Black"), local("PlayfairDisplaySC-Black"),
		url("playfairdisplayscblack.woff2") format("woff2"), url("playfairdisplayscblack.woff") format("woff"),
		url("playfairdisplayscblack.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: "Playfair Display SC";
	src: local("Playfair Display SC Black Italic"), local("PlayfairDisplaySC-BlackItalic"),
		url("playfairdisplayscblackitalic.woff2") format("woff2"),
		url("playfairdisplayscblackitalic.woff") format("woff"),
		url("playfairdisplayscblackitalic.ttf") format("truetype");
	font-weight: 900;
	font-style: italic;
}

/* This stylesheet generated by Transfonter (https://transfonter.org) on October 3, 2017 10:08 PM */

@font-face {
	font-family: "Open Sans";
	src: url("OpenSans-SemiBoldItalic.eot");
	src: local("Open Sans SemiBold Italic"), local("OpenSans-SemiBoldItalic"),
		url("OpenSans-SemiBoldItalic.eot?#iefix") format("embedded-opentype"),
		url("OpenSans-SemiBoldItalic.woff") format("woff"), url("OpenSans-SemiBoldItalic.ttf") format("truetype");
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: "Open Sans";
	src: url("OpenSans-LightItalic.eot");
	src: local("Open Sans Light Italic"), local("OpenSans-LightItalic"),
		url("OpenSans-LightItalic.eot?#iefix") format("embedded-opentype"),
		url("OpenSans-LightItalic.woff") format("woff"), url("OpenSans-LightItalic.ttf") format("truetype");
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: "Open Sans";
	src: url("OpenSans-Bold.eot");
	src: local("Open Sans Bold"), local("OpenSans-Bold"), url("OpenSans-Bold.eot?#iefix") format("embedded-opentype"),
		url("OpenSans-Bold.woff") format("woff"), url("OpenSans-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url("OpenSans-ExtraBoldItalic.eot");
	src: local("Open Sans ExtraBold Italic"), local("OpenSans-ExtraBoldItalic"),
		url("OpenSans-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"),
		url("OpenSans-ExtraBoldItalic.woff") format("woff"), url("OpenSans-ExtraBoldItalic.ttf") format("truetype");
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: "Open Sans";
	src: url("OpenSans-Light.eot");
	src: local("Open Sans Light"), local("OpenSans-Light"), url("OpenSans-Light.eot?#iefix") format("embedded-opentype"),
		url("OpenSans-Light.woff") format("woff"), url("OpenSans-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url("OpenSans-Italic.eot");
	src: local("Open Sans Italic"), local("OpenSans-Italic"),
		url("OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("OpenSans-Italic.woff") format("woff"),
		url("OpenSans-Italic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Open Sans";
	src: url("OpenSans-Regular.eot");
	src: local("Open Sans Regular"), local("OpenSans-Regular"),
		url("OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("OpenSans-Regular.woff") format("woff"),
		url("OpenSans-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url("OpenSans-SemiBold.eot");
	src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"),
		url("OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("OpenSans-SemiBold.woff") format("woff"),
		url("OpenSans-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url("OpenSans-ExtraBold.eot");
	src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"),
		url("OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("OpenSans-ExtraBold.woff") format("woff"),
		url("OpenSans-ExtraBold.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url("OpenSans-BoldItalic.eot");
	src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"),
		url("OpenSans-BoldItalic.eot?#iefix") format("embedded-opentype"),
		url("OpenSans-BoldItalic.woff") format("woff"), url("OpenSans-BoldItalic.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
}
