doctype html
html(lang="ru")
	head
		include modules/head.pug
	body
		.content.about-page
			include modules/header.pug

			main
				.hero
					.container
						.hero__wrapper
							h1 Мы знаем изнутри как работают лучше международные и российские практики

				// о нас
				.about
					.container
						.about__wrapper
							.about__col
								h2 О нас
								.about__picture
									img(src="images/about.jpg" alt="")

							.about__col
								p Наше Бюро основано людьми, обладающими серьезном <span class="strong">опытом и знаниями</span> в сфере юридического консалтинга. Мы прошли схожий путь в своем профессиональном развитии и разделяем одни и те же ценности.
								p Мы знаем изнутри, как работают лучшие международные и российские практики и готовы предложить своим клиентам <span class="ctrong">первоклассные стандарты оказания услуг</span>, освободив их от расходования времени и сил на неэффективные методы решения проблемы. Это позволит нашим клиентам существенно сократить организационные и финансовые издержки.
								p Мы понимаем, как эффективно защитить интересы клиентов как в российских, так и в мультинациональных спорах и готовы предложить <span class="strong">лучшую стратегию и эффективные тактические решения</span> на стыке различных отраслей отечественного и международного права.
							.clearfix

				// ключевые особенности
				.key
					.container
						.key__wrapper
							h2 Ключевые отрасли
							ul.key__list
								li Нефтегазовый сектор
								li Энергетика
								li Телеком
								li Банковская сфера и Страхование
								li Металлургическая отрасль
								li Нефтехимия
								li Ритейл

				// новости
				.news-block
					.container
						.news-block__wrapper
							h2 новости
							ul.news-block__list
								//- .slick-prev
								//- .slick-next
								.slider-news
									// item slide
									li.item
										.item__wrapper
											.item__picture
												img(src="images/img_1.jpg" alt="")
											p.item__text Корпоративные споры. уровень развитости сознания социальной ответственности компаний
									// item slide
									li.item
										.item__wrapper
											.item__picture
												img(src="images/img_1.jpg" alt="")
											p.item__text Корпоративные споры. уровень развитости сознания социальной ответственности компаний
									// item slide
									li.item
										.item__wrapper
											.item__picture
												img(src="images/img_1.jpg" alt="")
											p.item__text Корпоративные споры. уровень развитости сознания социальной ответственности компаний
									// item slide
									li.item
										.item__wrapper
											.item__picture
												img(src="images/img_1.jpg" alt="")
											p.item__text Корпоративные споры. уровень развитости сознания социальной ответственности компаний

				// практики
				.practices-block
					.practices-block__wrapper
						h2 практики
						ul
							li
								h3 Арбитраж
								p Консультирование клиентов, сопровождение и защита их прав и интересов на всех стадиях судебных прений в арбитражном суде любой ...
							li
								h3 Уголовное право
								p Отрасль права, регулирующая общественные отношения, связанные с совершением преступных деяний, назначением наказания и ...
							li
								h3 Семейное право
								p Система правовых норм, регулирующих семейные отношения, т. е. личные и связанные с ними имущественные отношения ...
							li
								h3 Антимонопольное право
								p Совокупность правовых норм, нормативных актов, направленных на ограничение свободы предпринимательской деятельности и свободы договора экономически влиятельных компаний ...
							li
								h3 Защита чести и достоинства
								p Защита чести, достоинства и деловой репутации 1. Гражданин вправе требовать по суду опровержения порочащих его честь, достоинство или деловую репутацию сведений, если распространивший  ...

				// клиенты
				.clients
					.clients__wrapper
						h2 Наши клиенты
						p Наша практика вбирает в себя богатый опыт  отечественных и международных компаний-лидеров отраслей в спорах в отечественной и иностранных юрисдикциях
						ul.clients__list
							li
								img(src="images/clients/01.png" alt="")
							li
								img(src="images/clients/02.png" alt="")
							li
								img(src="images/clients/03.png" alt="")
							li
								img(src="images/clients/04.png" alt="")
							li
								img(src="images/clients/05.png" alt="")
							li
								img(src="images/clients/06.png" alt="")
							li
								img(src="images/clients/07.png" alt="")
							li
								img(src="images/clients/08.png" alt="")
							li
								img(src="images/clients/09.png" alt="")


		include modules/footer.pug
		include modules/script.pug