doctype html
html(lang="ru")
	head
		include modules/head.pug
	body
		.content.news-cart-page
			include modules/header.pug

			main
				.news-cart
					.container
						.news-cart__wrapper
							.news-cart__picture
								img(src="images/news-cart.jpg" alt="")

							.news-cart__content
								.news-cart__text
									h3 Корпоративные споры. уровень развитости сознания социальной ответственности компаний
									hr
									p 6 октября 2017 года при поддержке «Ведомости. Конференции» в «Арарат Парк Хаятт» прошло дискуссионное собрание «Корпоративные споры. Социальная ответственность игроков». Участие в дискуссии, наряду с видными экспертами в области корпоративных споров в России, принимали партнер и управляющий партнер Chernyshov, Lukoyanov & Partners Law Offices Константин Лукоянов в качестве модератора дискуссии и Григорий Чернышев в качестве ее участника. 
									p Благоприятный инвестиционный климат, развитая правовая система и корпоративная культура – неотъемлемые условия развития бизнеса и экономики страны. Обеспечение этих условий зависит не только от требования к нормативной системе и действий государственных органов, в том числе и правоохранительных, но и от добросовестности участников процесса правоприменения. 
									p В связи с этим главной темой дискуссии стал вопрос об уровне развитости сознания социальной ответственности компаний в своей стратегии на российском рынке. Крупнейшие акционерные конфликты в России, служащие наглядной иллюстрацией особенностей развития отечественной корпоративной культуры, стали основой для обсуждения ряда вопросов, стоящих на повестке дня. Участники дискуссии обсуждали, в какой степени акц ионерные конфликты оказали влияние на судебную практику, систему оценки рисков и определение стратегий, возможно ли провести параллели с процессами в иностранных юрисдикциях и удастся ли российскому экспертному сообществу сформировать консолидированную позицию по данному вопросу. 
								a(href="news.html").button Все новости
							.clearfix



	include modules/footer.pug
	include modules/script.pug