doctype html
html(lang="ru")
	head
		include modules/head.pug
	body
		.content.news-page
			include modules/header.pug

			main
				.news
					.container
						ul.news__wrapper
							li.item
								.item__picture
									img(src="images/img_1.jpg", alt="")
									span.item__date 06.03.2020 г.
								.item__content
									h3 Член ААЭ Ольга Белова приняла участие в подготовке типовой антимонопольной политики
									
									hr
									.item__text
										p Член Ассоциации антимонопольных экспертов, советник АБ «Чернышов, Лукоянов и партнеры» Ольга Белова совместно с экспертами информационно-аналитического портала «Правовые аспекты энергоснабжения» приняла участие в разработке типовой политики антимонопольного комплаенса с акцентом на субъектов энергетики. Как отмечают авторы, документ носит методологический характер и дает основу для формирования и внедрения в компаниях собственной системы антимонопольного комплаенса.
							li.item
								.item__picture
									img(src="images/img_1.jpg", alt="")
									span.item__date 06.03.2020 г.
								.item__content
									h3 Член ААЭ Ольга Белова приняла участие в подготовке типовой антимонопольной политики
									
									hr
									.item__text
										p Член Ассоциации антимонопольных экспертов, советник АБ «Чернышов, Лукоянов и партнеры» Ольга Белова совместно с экспертами информационно-аналитического портала «Правовые аспекты энергоснабжения» приняла участие в разработке типовой политики антимонопольного комплаенса с акцентом на субъектов энергетики. Как отмечают авторы, документ носит методологический характер и дает основу для формирования и внедрения в компаниях собственной системы антимонопольного комплаенса.
							li.item
								.item__picture
									img(src="images/img_1.jpg", alt="")
									span.item__date 06.03.2020 г.
								.item__content
									h3 Член ААЭ Ольга Белова приняла участие в подготовке типовой антимонопольной политики
									
									hr
									.item__text
										p Член Ассоциации антимонопольных экспертов, советник АБ «Чернышов, Лукоянов и партнеры» Ольга Белова совместно с экспертами информационно-аналитического портала «Правовые аспекты энергоснабжения» приняла участие в разработке типовой политики антимонопольного комплаенса с акцентом на субъектов энергетики. Как отмечают авторы, документ носит методологический характер и дает основу для формирования и внедрения в компаниях собственной системы антимонопольного комплаенса.
							li.item
								.item__picture
									img(src="images/img_1.jpg", alt="")
									span.item__date 06.03.2020 г.
								.item__content
									h3 Член ААЭ Ольга Белова приняла участие в подготовке типовой антимонопольной политики
									
									hr
									.item__text
										p Член Ассоциации антимонопольных экспертов, советник АБ «Чернышов, Лукоянов и партнеры» Ольга Белова совместно с экспертами информационно-аналитического портала «Правовые аспекты энергоснабжения» приняла участие в разработке типовой политики антимонопольного комплаенса с акцентом на субъектов энергетики. Как отмечают авторы, документ носит методологический характер и дает основу для формирования и внедрения в компаниях собственной системы антимонопольного комплаенса.
									
	include modules/footer.pug
	include modules/script.pug