doctype html
html(lang="ru")
	head
		include modules/head.pug
	body
		.content.partners-page
			include modules/header.pug

			main
				.partners
					h1.visually-hidden Партнеры
					.container
						ul.partners__wrapper
							li.item
								.item__picture
									img(src="images/partner1.jpg" alt="")
								.item__title
									h3 Константин Лукоянов к.ю.н., Адвокат, <span class="strong">Старший Партнер</span>
								.item__text
									p В 2000 году окончил с отличием Юридический факультет Санкт-Петербургского Государственного Университета и уже в 2004 получил степень кандидата юридических наук. В 2006 получил степень Master of Law(LL.M) в Кембридже. Практикующий адвокат с 2001 года. 
									p Эксперт в сфере корпоративных споров и корпоративного управления, судебного...
								a(href="").button Читать дальше
							li.item
								.item__picture
									img(src="images/partner2.jpg" alt="")
								.item__title
									h3 Григорий Чернышев Адвокат, <span class="strong">Старший Партнер</span>
								.item__text
									p С отличием окончил Юридический факультет Санкт-Петербургского Государственного Университета в 1999 году, обучался в аспирантуре на кафедре гражданского права. Практикующий адвокат с 2002 года. 
									p Эксперт с сфере судебного, арбитражного разбирательства, а также в области антимонопольного права. Имеет значительный опыт руководства судебными и арбитражными проектами в интересах...
								a(href="").button Читать дальше
							li.item
								.item__picture
									img(src="images/partner2.jpg" alt="")
								.item__title
									h3 Григорий Чернышев Адвокат, <span class="strong">Старший Партнер</span>
								.item__text
									p С отличием окончил Юридический факультет Санкт-Петербургского Государственного Университета в 1999 году, обучался в аспирантуре на кафедре гражданского права. Практикующий адвокат с 2002 года. 
									p Эксперт с сфере судебного, арбитражного разбирательства, а также в области антимонопольного права. Имеет значительный опыт руководства судебными и арбитражными проектами в интересах...
								a(href="").button Читать дальше
							li.item
								.item__picture
									img(src="images/partner2.jpg" alt="")
								.item__title
									h3 Григорий Чернышев Адвокат, <span class="strong">Старший Партнер</span>
								.item__text
									p С отличием окончил Юридический факультет Санкт-Петербургского Государственного Университета в 1999 году, обучался в аспирантуре на кафедре гражданского права. Практикующий адвокат с 2002 года. 
									p Эксперт с сфере судебного, арбитражного разбирательства, а также в области антимонопольного права. Имеет значительный опыт руководства судебными и арбитражными проектами в интересах...
								a(href="").button Читать дальше
							li.item
								.item__picture
									img(src="images/partner2.jpg" alt="")
								.item__title
									h3 Григорий Чернышев Адвокат, <span class="strong">Старший Партнер</span>
								.item__text
									p С отличием окончил Юридический факультет Санкт-Петербургского Государственного Университета в 1999 году, обучался в аспирантуре на кафедре гражданского права. Практикующий адвокат с 2002 года. 
									p Эксперт с сфере судебного, арбитражного разбирательства, а также в области антимонопольного права. Имеет значительный опыт руководства судебными и арбитражными проектами в интересах...
								a(href="").button Читать дальше
							li.item
								.item__picture
									img(src="images/partner2.jpg" alt="")
								.item__title
									h3 Григорий Чернышев Адвокат, <span class="strong">Старший Партнер</span>
								.item__text
									p С отличием окончил Юридический факультет Санкт-Петербургского Государственного Университета в 1999 году, обучался в аспирантуре на кафедре гражданского права. Практикующий адвокат с 2002 года. 
									p Эксперт с сфере судебного, арбитражного разбирательства, а также в области антимонопольного права. Имеет значительный опыт руководства судебными и арбитражными проектами в интересах...
								a(href="").button Читать дальше
							li.item
								.item__picture
									img(src="images/partner2.jpg" alt="")
								.item__title
									h3 Григорий Чернышев Адвокат, <span class="strong">Старший Партнер</span>
								.item__text
									p С отличием окончил Юридический факультет Санкт-Петербургского Государственного Университета в 1999 году, обучался в аспирантуре на кафедре гражданского права. Практикующий адвокат с 2002 года. 
									p Эксперт с сфере судебного, арбитражного разбирательства, а также в области антимонопольного права. Имеет значительный опыт руководства судебными и арбитражными проектами в интересах...
								a(href="").button Читать дальше



		include modules/footer.pug
		include modules/script.pug