doctype html
html(lang="ru")
	head
		include modules/head.pug
	body
		.content.practices-page
			include modules/header.pug

			main
				.practices
					h1.visually-hidden Практики
					.container
						ul.practices__wrapper
							li
								.practices__inner
									h3 Арбитраж
									.practices__text
										p Консультирование клиентов, сопровождение и защита их прав и интересов на всех стадиях судебных прений в арбитражном суде любой инстанции – одно из основных направленийдеятельности бюро Chernyshov, Lukoyanov & Partners Law Offices. Адвокаты Бюро готовыпредставлять интересы своих подопечных вне зависимости от того, в каком правовом поле онибыли затронуты, отечественном или международным.
									a(href="").button Читать дальше
							li
								.practices__inner
									h3 Антимонопольное право
									.practices__text
										p Совокупность правовых норм, нормативных актов, направленных на ограничение свободы предпринимательской деятельности и свободы договора экономически влиятельных компаний. Наиболее часто ограничения затрагивают создание картелей или других механизмов поддержания цен и раздела рынков; крупные слияния и действия, которые могут существенно увеличить возможность продавца влиять на цен
									a(href="").button Читать дальше
							li
								.practices__inner
									h3 Семейное право
									.practices__text
										p Система правовых норм, регулирующих семейные отношения, т. е. личные и связанные с ними имущественные отношения, возникающие между гражданами во время брака, родства, усыновления, принятия детей в семью на воспитание.
									a(href="").button Читать дальше



		include modules/footer.pug
		include modules/script.pug