$color-red: #AC0014;
$color-black: #000000;
$color-text: #131313;
$color-text2: #333333;

$font-calibri: "Calibri", sans-serif;
$font-playfair: "Playfair Display SC", sans-serif;
$font-open: "Open Sans", sans-serif;
